.section-01 {
  background-image: -webkit-linear-gradient(270deg, rgba(204, 19, 19, .5), rgba(204, 19, 19, .5));
  background-image: linear-gradient(180deg, rgba(204, 19, 19, .5), rgba(204, 19, 19, .5));
} 
    
    
    
.row-2 {
  height: 1600px;
  border-style: solid;
  border-width: 1px;
  border-right-color: #000;
}
   
.w-col-3 {
  height: 1500px;
  float: left;
  width: 25%;
}


.form-block {
  height: 1400px;
  width: 80%;
}



.form-mirna {
  height: 1200px;
}

label[for='label-mirna'] {
  left:20%;

  margin-left:3%;
}    

  
.select-field-mirna {
  margin-left:3%;
  height:300px;
  position: static;
  overflow: scroll;
  border: 2px solid #000;
  background-image: -webkit-linear-gradient(270deg, rgba(22, 114, 231, .5), rgba(22, 114, 231, .5));
  background-image: linear-gradient(180deg, rgba(22, 114, 231, .5), rgba(22, 114, 231, .5));
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-size: 24px;
  cursor: -webkit-grabbing;
}


.w-button {
  margin-left:3%;   
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 9px;
  background-image: -webkit-linear-gradient(270deg, rgba(133, 53, 219, .5), rgba(133, 53, 219, .5));
  background-image: linear-gradient(180deg, rgba(133, 53, 219, .5), rgba(133, 53, 219, .5));
}

.w-button:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(238, 19, 19, .5), rgba(238, 19, 19, .5));
  background-image: linear-gradient(180deg, rgba(238, 19, 19, .5), rgba(238, 19, 19, .5));
}


.w-col-9 {
  height: 1500px;
  float: left;
  width: 75%;  
}
